.slider {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.slides {
  display: flex;
  animation: slideAnimation 10s linear infinite;
  transition: transform 3s ease;
  align-items: center;
  height: 100px;
  width: 140%;
}
.item-slide {
  flex: 0 0 25%;
  padding: 24px;
}
.slides img {
  width: 80%;
  height: auto;
  color: aliceblue;
}

@keyframes slideAnimation {
  0%, 20% {
    transform: translateX(0);
    opacity: 1;
}

25%, 45% {
    transform: translateX(-25%);
    opacity: 1;
}

50%, 70% {
    transform: translateX(-50%);
    opacity: 1;
}

75%, 95% {
    transform: translateX(-75%);
    opacity: 1;
}

100%, 120% {
    transform: translateX(-100%); /* Adicionando um passo extra para criar o loop */
    opacity: 1;
}
}
